.general_Container {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {

  .general_Container {
    width: 100%;
    margin: 30px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}